
/*Header image*/


/*
.header-img{
    background-image:url('pexels-miguel-á-padriñán-1591056.jpg');
    background-repeat: no-repeat;

    
}

header h2{
    color: rgba(255,255,255,.8);   
    margin-left: 30px;
    font-size: 30px;    
    padding-top: 20px;
     
    
    
}
*/


/*FOOTER*/


/*
footer {
	background: gray;
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

.navbar2{
    text-align: center;
}

.navbar2 ul {
	padding: 22px;
    list-style-type: none;
    margin: 50px;
}

.navbar2 li {
	display: inline-block;
    color: white;
}

}
navbar2 a {
	color: white;
	text-decoration: none;
	font-size: 13px;
}
   
.navbar2 ul li a{ 
    padding: 50px 35px;
    text-decoration: none;
    color: white;
}
 
.navbar2 ul li a:hover{
    color: black;
}
*/









/*NAVBAR*/
/*
.main_nav {
    

}

.navbar{
    

    
}


.navbar ul{
    
    list-style: none;
    width: inherit;

    padding: 10px;
    overflow: hidden;
    line-height: 30px;
    background-color: #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    margin-bottom: inherit;
    margin-top: inherit;
    
}
   
.navbar li a{
    width: inherit;
    padding: 10px 20px;
    margin: 14px 10px;
    float: left;    
    display: inline-block;
    text-align: center; 
    width: 140px;

  border: 1px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 3px;
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
    
}





.navbar li a:hover{
    background-color: limegreen; 
    
}


.navbar a{
    text-decoration: none;
    color: white;
    float: left;
    
    
}
*/


/*NEW NAVBAR AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/


.navbar {
  
/*
    list-style: none;
    width: inherit;
*/
     

/*  overflow: hidden;*/
    line-height: 30px;
    background-color: #555;
/*    box-sizing: border-box;*/
    font-family: Arial, Helvetica, sans-serif;
/*  position: fixed;*/
/*  top: 0;*/
/*  width: 100%;*/
    height: 85px;
    top:0px;
     z-index:1;
    position: fixed;
 width: 100%
}

/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
*/

body{
    margin:0;
}

.dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.dropbtn {
    
font-size: 16px;  
border: none;
  outline: none;
  color: white;
  padding: 14px 10px;
background-color: inherit;
  font-family: inherit;
  margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  border-radius: 5px;

   cursor: pointer;
    margin-left: 190px;
       
}

.dropbtn:hover{
    background-color: dimgray;
}

.fa fa-align-justify{
    margin-right: 110px !important;
}


.lg_out{
/*      width: inherit;*/
    

/*    margin: 14px 10px;*/

    display: inline-block;
    
    width: 140px;
    height: 40px;
padding: 12px 16px!important;
margin-bottom: 5px!important;
  border: 0px solid #555;
  border-radius: 5px;
/*  box-sizing: border-box;*/
  margin-top: 8px;
  margin-bottom: 4px;
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  
  margin-right: 290px;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
}

.w_message{
    color: limegreen;
/*    padding: inherit;*/
    margin-top: 40px;
    margin-left: 1220px !important;
/*    padding-top: -110px;*/
/*    border: 2px solid blue;*/
    position: fixed;
/*    border: 2px solid blue;*/
    z-index: 2;
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    font-size: 25px;*/
    color: lightgray; font-family: 'Lato', sans-serif; font-size: 19px; font-weight: 100; line-height: 68px; margin: 0 0 58px;
    text-shadow: 5px 5px 4px black;

}

.w_message_u{
    color: limegreen;

    margin-top: 40px;
    margin-left: 860px !important;

    position: fixed;
/*    z-index: 2;*/

    color: lightgray; font-family: 'Lato', sans-serif; font-size: 19px; font-weight: 100; line-height: 68px; margin: 0 0 58px;
    text-shadow: 5px 5px 4px black;

}
.s_log{
    color: limegreen;
    margin-left: 200px;
    position: relative;
    margin: 0;
    padding: 0;
}


.s_log_w{
    color: limegreen;
    margin-right: 200px;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}



.lg_out_main{
      width: inherit;
    font-size: 16px; 
    position: fixed;
    margin: 14px 10px;

    display: inline-block;
    text-align: center; 
    width: 155px;
    height: 55px;

  border: 0px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-left: 1060px;
  margin-bottom: 9px;
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
  margin-right: 320px;
    
    
}

.lg_out_main_u{
      width: inherit;
    font-size: 16px; 
    position: fixed;
    margin: 14px 10px;

    display: inline-block;
    text-align: center; 
    width: 155px;
    height: 55px;

  border: 0px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-left: 675px;
  margin-bottom: 9px;
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
  margin-right: 320px;
    
    
}

.lg_out_main_l{
      width: inherit;
    font-size: 16px; 
    position: fixed;
    margin: 14px 10px;

    display: inline-block;
    text-align: center; 
    width: 155px;
    height: 55px;

  border: 0px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-left: 675px;
  margin-bottom: 9px;
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
  margin-right: 320px;
    
    
}

.lg_out_main_home{
      width: inherit;
    font-size: 16px; 

    margin: 14px 10px;

    display: inline-block;
    text-align: center; 
    width: 140px;
    height: 55px;

  border: 0px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-bottom: 9px;
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
  margin-left: 215px;
    
    
}

.lg_out_main_reg{

    font-size: 16px; 

    display: inline-block;
    text-align: center; 
    width: 180px;
    height: 55px;
    position: fixed;
    margin-left: 870px;

  border: 0px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-bottom: 9px;
  
  
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
/*  margin-left: 480px;*/
  background-color: limegreen;
}

.lg_out_main_reg_u{

    font-size: 16px; 

    display: inline-block;
    text-align: center; 
    width: 180px;
    height: 55px;
    position: fixed;
    margin-left: 470px;

  border: 0px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-bottom: 9px;
  
  
  resize: vertical;
  cursor: pointer;
  background-color: dimgray;
  color: white;
/*  margin-left: 480px;*/
  background-color: limegreen;
}


.dropdown {

/*  overflow: hidden;*/
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: inherit;
  min-width: 167px;

  z-index: 1;
    border-radius: 5px;
    margin-left: 195px;
    
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
    margin-top: 58px;
}


/*END OF NAVBAR*/


/*
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
*/

/*ICONS*/

#input-icons i {
            position: absolute;
        }
          
        #input-icons {
            width: 100%;
            margin-bottom: 10px;
        }
          
        .fa-pencil {
            margin-top: 540px;
            margin-left: 190px;
            color: white;
            min-width: 20px;
            text-align: center;
            z-index: 1;
        }
          
        .input-field {
            width: 100%;
            padding: 10px;
            text-align: center;
        }

.label{
    
    position: fixed;
    margin-top: 205px;
    margin-left: 40px;
    color: darkgray;
}
.label_e{
    
    position: fixed;
    margin-top: 205px;
    margin-left: 40px;
    color: darkgray;
}

/* PAGER */

/*

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
*/

 
  
/*BUTTONS*/
   
   .button{
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: dimgray;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}
.button2{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: limegreen;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin-left: 42%;
}

.read-more-link{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: limegreen;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin-left: 42%;
}


.previous a {
    text-decoration: none;
    color: black;
}
.next a {
   text-decoration: none;
    color: black; 
    
}


.abc{
/*    background-color: #555;*/
}

/*WIDGET*/


section, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
section {
    padding: 3px;
    margin:0;
    float: left;
}
#field1 {
    width: 1000px;
    margin-left: 215px;
/*    background-color: white;*/
    border-right: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;

}

#field_1 {
    width: 980px;
    margin-left: 215px;
/*    background-color: white;*/
    border-right: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;

}
#field2 {
    width: 270px;
    padding-top: 5px;
    margin-right: 10px;
}

input {
    width: 100%;
}



.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;

  border-radius: 4px;

    
  
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
  text-align: center;
  
}

.text{
    text-align: center;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}


/*BLOG PAGE*/

.img-post{
    display: block;
    position: inherit;
    width: 972px;
    height: 350px;
    margin-left: 0px !important;
}

.img-post_a{
    display: block;
    position: inherit;
    width: 990px;
    height: 350px;
    margin-left: 0px !important;
}


/*Main page blog posts*/

.page-header {
/*  padding-bottom: 9px;*/
  margin: 80px 5px;
/*  border-bottom: 2px solid #eee;*/
  width: 977px;
}





/*TABLE */

.table {
  margin-top: 18px;
  
  border-collapse: separate;
  width: 1010px;
  border: solid 2px #b3b3ff;
  border-radius: 5px;
  border-spacing: 0;
  font-family: Arial, Helvetica, sans-serif;
    margin: auto;
  padding: auto;
  position: relative;
  margin-left: 210px;
}

th, td {
  padding: 8px;
  text-align: left;  
  font-family: Arial, Helvetica, sans-serif;
  
}

td{
    border-top: solid 2px #b3b3ff;
}
th{
    color: #bfbfbf;
}

.material-icons{
    text-decoration: none;
    color: cornflowerblue;
}

.admin-icons{
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 10px;
}

.admin-icons_sub{
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 10px;
}



/*USERS TABLE*/
.table_users {
    
  border-collapse: separate;
  width: 1010px;
  border: solid 2px #b3b3ff;
  border-radius: 5px;
  border-spacing: 0;
  margin: auto;
  padding: auto;
  position: relative;
  margin-left: 210px;
/*  margin-top: 10px;*/
  font-family: Arial, Helvetica, sans-serif;
}

th, td {
  padding: 8px;
  text-align: left;  
  font-family: Arial, Helvetica, sans-serif;
  
}

td{
    border-top: solid 2px #b3b3ff;
}
th{
    color: #bfbfbf;
}

.material-icons{
text-decoration: none;
    color: cornflowerblue;
}


/*MISC*/

#h3{
    margin-left: 210px;
    color: dimgray;  
    font-family: Arial, Helvetica, sans-serif;
}
#h4{
    margin-left: 0px;
    color: dimgray; 
    margin-top: -40px;
    font-family: Arial, Helvetica, sans-serif;
}


tr:hover{
    background-color: #e6e6ff;
}

/*ADD POST FORM*/


input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit]:hover {
  background-color: green!important;
}

.add_post_form {
  border-radius: 5px;
/*  background-color: lightyellow;*/
  padding-top: 120px;
  width: 680px;
  position: relative;
  margin-left: 220px;
/*    margin-top: 40px;*/
    float: left;    
}





.add_post_form_date {
/*    border: solid 2px blue;*/
    border-radius: 5px;
/*    height: 10px;*/
    width: 280px;
/*    position: relative;*/
    float: right;
    margin-left: 940px;
    margin-top: 120px;
    position: fixed;
    
}


.add_post_form_image {
/*    padding-top: 1px;*/
    margin-left:  800px;
    color: royalblue;
/*    position: relative;*/
    
}


.add_post_form_publish{
    padding-top: 30px;
/*    margin-left: 745px;*/
    
}

#size{
    resize: none;
}



.img_file {

    display: inline-block;
    padding: 1px 42px;
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    background-color: inherit;
    position: fixed;
    margin-top: 510px;
    
    
}

.img_file_edit {

    display: inline-block;
    padding: 1px 100px;
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    background-color: inherit;
    
    
}

.d_s{
    border: 0px solid;
    width: 280px;
    height: 275px;
    margin: auto;
    padding: auto;
/*    position: fixed;*/
    margin-left: 0px;
    margin-top: 0px; 
/*
    background-image: url('../dImage/default_image.jpg');
    background-size: 280px 275px;
*/
}

#reload{
    
    width: 280px;
    height: 275px;
    position: fixed;
    border: 0px;
    margin-left: 940px;
    margin-top: 230px;
}

.img_rem{
    
    display: inline-block;
    padding: 1px 35px;
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    background-color: inherit;
    color: red;
    position: fixed;
    margin-top: 510px;
    margin-left: 180px;
    
}

.btn_pub{
    
    background-color: dimgray!important;
    width: 90px !important;
/*    padding-top: 311px;*/
    margin-top: 530px;
    margin-left: 40px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    position: fixed;
}


.font{
    font-family: Arial, Helvetica, sans-serif;
}

.l_cl{
    color: darkgray;
}

/*
.l_cll{
    color: darkgray;
    padding-bottom: 11px;
    margin-top: -19px;
}
*/


#u_post{
    background-color: limegreen;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  position: fixed;
  margin-top: 530px;
  margin-left: 180px;
}

#c_post {
    background-color: dimgray;
    width: 90px;
    padding-top: 211px;
    margin-left: 200px;
    margin-right: 40px;
/*    background-color: limegreen;*/
  color: white;
  padding: 12px 20px;
/*  border: none;*/
  border-radius: 4px;
  cursor: pointer;
  
}
.p_post {
    margin-left: 0;
    background-color: limegreen;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}




/*backup*/
/*
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: lightgray;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.add_post_form {
  border-radius: 5px;
  background-color: lightyellow;
  padding: 20px;
  width: 600px;
  position: relative;
  margin-left: 28%;
}
*/

/*LOGIN/REGISTER FORM*/


input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #b3b3ff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #b3b3ff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit] {
  width: 100%;
  padding: 12px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
    
}

.cl_c {
    color: cornflowerblue;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.login_form {
/*  border-radius: 51px;*/
/*  background-color: lightgreen;*/
  padding-bottom: 200px;
  width: 300px;
  margin-top: 200px;
  position: relative;
/*  display: block;*/
  margin-left: auto;
  margin-right: auto;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);*/
}

.lr-title{
  
  padding-top: 170px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  color: cornflowerblue; 
}



.v_span{
    color: red;
    margin-left: 40px;
}

/*
.pw_login{
  
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: content-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    
}
*/

/*
.btn_login{
    
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-left: 95px;
    
}
*/



/*READ MORE*/

/*
.hidden { 
    display: none;
}
.readmore { 

    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: limegreen;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin-left: 42%;
}
*/



/*
.morecontent {
    display: visible;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: limegreen;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin-left: 42%;
}
*/



/*
p {
  margin-top:15px;
}
*/












/*LOGIN BACKGROUND*/

.login_bgrnd{
    background-color: white;
}

/*password hint*/


#title_t{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
    text-align: center;
}
#title_a{
    text-decoration: none;
    color: darkgray;
    font-style: italic;
}
#title_a_a{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 20px;
    font-style: normal;
}
#title_d{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    font-style: normal;
    
}
#title_d_d{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    font-style: italic;
    
}
#title_c{
    font-family: Arial, Helvetica, sans-serif;
}









.morecontent {
  display: none;
}



#menu-container {
/*    position: absolute;*/
    white-space: nowrap;
/*    overflow: hidden;*/

}




